ENABLE_3D_RENDERING             = 1
ENABLE_API_TESTS                = 1
ENABLE_BLOB                     = 1
ENABLE_CHANNEL_MESSAGING        = 1
ENABLE_CONTEXT_MENUS            = 0
ENABLE_CSS3_TEXT                = 1
ENABLE_CSS_BOX_DECORATION_BREAK = 1
ENABLE_CSS_EXCLUSIONS           = 1
ENABLE_CSS_IMAGE_ORIENTATION    = 1
ENABLE_CSS_IMAGE_RESOLUTION     = 1
ENABLE_CSS_IMAGE_SET            = 1
ENABLE_CSS_REGIONS              = 1
ENABLE_CSS_VARIABLES            = 1
ENABLE_DETAILS_ELEMENT          = 1
ENABLE_DRAG_SUPPORT             = 0
ENABLE_FAST_MOBILE_SCROLLING    = 1
ENABLE_FTPDIR                   = 1
ENABLE_FULLSCREEN_API           = 1
ENABLE_GAMEPAD                  = 1
ENABLE_GESTURE_EVENTS           = 1
ENABLE_ICONDATABASE             = 1
ENABLE_IFRAME_SEAMLESS          = 1
ENABLE_INSPECTOR                = 1
ENABLE_INSPECTOR_SERVER         = 1
ENABLE_JAVASCRIPT_DEBUGGER      = 1
ENABLE_JIT                      = 1
ENABLE_LEGACY_VENDOR_PREFIXES   = 1
ENABLE_LEGACY_VIEWPORT_ADAPTION = 1
ENABLE_LEGACY_WEB_AUDIO         = 1
ENABLE_LLINT                    = 1
ENABLE_MATHML                   = 1
ENABLE_METER_ELEMENT            = 1
ENABLE_MICRODATA                = 1
ENABLE_NAVIGATOR_CONTENT_UTILS  = 1
ENABLE_NETSCAPE_PLUGIN_API      = 0
ENABLE_NETWORK_INFO             = 1
ENABLE_PROGRESS_ELEMENT         = 1
ENABLE_REQUEST_ANIMATION_FRAME  = 1
ENABLE_SHARED_WORKERS           = 1
ENABLE_SQL_DATABASE             = 1
ENABLE_SVG                      = 1
ENABLE_SVG_FONTS                = 1
ENABLE_TOUCH_ADJUSTMENT         = 1
ENABLE_TOUCH_EVENTS             = 1
ENABLE_UNDO_MANAGER             = 0
ENABLE_VIDEO                    = 0
ENABLE_WEB_AUDIO                = 1
ENABLE_WEB_SOCKETS              = 1
ENABLE_WEB_TIMING               = 1
ENABLE_WORKERS                  = 1
ENABLE_XHR_RESPONSE_BLOB        = 1
ENABLE_XSLT                     = 1
WTF_USE_EGL                     = 0
WTF_USE_OPENGL_ES_2             = 0
